registry=https://registry.npm.taobao.org/
//registry.npmjs.org/:_authToken=1b6befbd-7ca8-47c6-8b3a-8fce841fd569
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/

runtime=electron
target=1.7.5
target_arch=x64
disturl=https://atom.io/download/atom-shell
export npm_config_runtime=electron
export npm_config_build_from_source=true
